
html, body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

/* WRAPPER */
.login-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* BACKGROUND */
.login-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* CENTER */
.login-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.login-card {
  max-width: 350px;
  padding: 40px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.35);
  color: #fff;
  animation: fadeIn 0.8s ease;
}

.login-card h2 {
  margin-bottom: 24px;
  font-size: 28px;
}

/* FORM */
.login-card form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.row {
  display: flex;
  gap: 12px;
}

.option-status{
    background-color: rgba(255, 255, 255, 0.25);
}

input, select {
  padding: 14px;
  border-radius: 14px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
}

input::placeholder {
  color: rgba(255,255,255,0.8);
}

select {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
}

/* BUTTON */
button {
  margin-top: 10px;
  padding: 15px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: linear-gradient(135deg, #fff, #cfcfcf);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(255,255,255,0.35);
}

button:active {
  transform: scale(0.97);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.row {
  width: 100%;
}

.row input {
  flex: 1;
  min-width: 0; /* MUHIM: flex input qisqarib ketmasligi uchun */
}
@media (max-width: 600px) {
  .login-card {
    max-width: 280px;
    margin: 0 50px;
  }
}
@media (max-width: 378px) {
  .login-card {
    max-width: 220px;
    margin: 0 100px;
  }
}
input:focus,
select:focus {
  box-shadow: 0 0 0 2px rgba(255,255,255,0.4);
}
select {
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
}

/* OPTION FIX */
select option {
  background: #1e1e1e; /* dark fallback */
  color: #ffffff;
}

/* HOVER / SELECTED */
select option:checked {
  background: #ffffff;
  color: #000;
}